* {
    list-style-type: none;
    text-decoration: none;
}

.mainBody{
    background-color:#ffffff;
}

#mainHeader {
    background-color: #694489;
    height: 80px;
    width: 1350px;
    margin-right: 8px;
    margin-top:-6px;

}


.sliderPart{
    width:1000px;
    height: 415px;
    /* background-color: #333333; */
    /*margin-left:15px;*/

}

.imagesetting{
    /* margin-top: 10px; */
    margin-left: -21px;
}

#menu{
    margin-top: 10px;
    width: 960px;
    height: 15px;
    font-size: 19px;
    list-style-type: none;
}

#menu > li{
    float: left;
    margin-left: 25px;
}

#menu > li> a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}


#menu > li:hover > .submenu {
    display: block;
    width: auto;
    position: absolute;
    border: 8px solid #60468b;
    border-top: 0;
    background-color: #ffffff;
    padding: 10px;
    z-index: 10;
}

.submenu{
    display: none;
    position: absolute;
    margin-bottom: 5px;
    cursor: pointer;
}
.submenu a {
    text-decoration: none;
}

.line{
    margin-top: -16px;
    background-color:#694489 ;
    width: 1000px;
    height: 7px;
}

#maincontent{
    width:1000px;
    height: 1000px;
    background-color:#ffffff;
    margin-left: 170px;
    margin-top: 3px;
}
.content{
    width: 690px;
    height: 250px;
    margin-top: 10px;
    box-shadow: 0 0 10px 2px gray;

}
.JNI{
    margin-top: -3px;
    margin-left:50px;
    color: #B81324;
    font-size: 20px;
    font-family: "Myriad Pro";
}
.trainingsection{
    margin-top: -250px;
    margin-left:700px;
    font-size:20px;
    width: 300px;
    height: 250px;
    color:#B81324;
    /*background: #CDB5CD;*/
    /*margin-top: 10px;*/
    box-shadow: 0 0 10px 2px gray;

}
.trainingcontent{
    margin-top: -200px;
    margin-left: 680px;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    width: 250px;
    height:14px;


}
.ruler{
    margin-left: 670px;
    background-color:#694489 ;
    width:200px;
    height: 2px;
}
.imagesborder{
    margin-top: -5px;
    width: 1000px;
    height:200px;
    /* border-color: #0000FF;
     border-style: solid;*/
}
.image{

    width:306px;
    height:165px;
    border-color: #0000FF;
    border-style: solid;
}
.instituteName {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 35px;
    height: 20px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.selectedMenu {
    background-color: darkslategray;
    text-align: center;
    padding: 9px;
    border-radius: 5px;
    margin-top: -10px;
}

#aboutUs, #contactUs {
    display: none;
    width:1000px;
    height: 1000px;
    background-color: #ffffff;
    margin-left: 170px;
}

#menu > li:hover {
    background-color: rgb(145, 145, 145);
    text-align: center;
    padding: 9px;
    border-radius: 5px;
    margin-top: -10px;
}