* {
    list-style-type: none;
}

.mainBody{
    background-color:#ffffff;
}

#mainHeader {
    background-color: #694489;
    height: 80px;
    width: 1350px;
    margin-right: 8px;
    margin-top:-6px;

}


.sliderPart{
    width:1000px;
    height: 300px;
    background-color: #333333;
    margin-left: 170px;

}

.imagesetting{
    margin-top: 10px;
    margin-left:130px;
}



.text{
    margin-top: -160px;
    margin-left: 350px;
    font-family: monospace;
    font-size: 30px;
    color: #ffffff;
}

#menu{
    margin-top: 3px;
    margin-left: 170px;
    width: 960px;
    height: 33px;
    font-size:19px;
    list-style-type: none;
   /* background-color:magenta;*/


}
#menu > li{
    float: left;
    padding-left:5px;
    padding-top: 5px;
    padding-right: 30px;

}
#menu > li> a{
    text-decoration: none;
}


#menu > li:hover > #submenu {
    display:block;
    width: auto;
    margin-left:5px;
    margin-top: 10px;
    position: absolute;
    border: 8px solid #60468b;
    border-top: 0;
}

#submenu{
    display: none;
    position: absolute;
}
#submenu a{
    text-decoration: none;
    padding-top:4px;
    padding-right: 2px;
}

.line{
    margin-top: -16px;
    background-color:#694489 ;
    width: 1000px;
    height: 7px;
}

.maincontent{
    width:1000px;
    height: 1000px;
    background-color: #ffffff;
    margin-left: 170px;
}
.content{

    width: 650px;
    height: 250px;
    background: #CDB5CD;

}
.JNI{
    margin-top: -3px;
    margin-left:50px;
    color: #B81324;
    font-size: 20px;
    font-family: "Myriad Pro";
}
.trainingsection{
    margin-top: -250px;
    margin-left:660px;
    font-size:20px;
    width: 300px;
    height: 250px;
    color:#B81324;
    background: #CDB5CD;

}
.trainingcontent{
    margin-top: -200px;
    margin-left: 660px;
    color: #000000;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 15px;
    width: 250px;
    height:14px;


}
.ruler{
    margin-left: 650px;
    background-color:#694489 ;
    width:200px;
    height: 2px;
}
.imagesborder{
   margin-top: -5px;
    width: 1000px;
    height:200px;
   /* border-color: #0000FF;
    border-style: solid;*/
}
.image{

    width:306px;
    height:165px;
    border-color: #0000FF;
    border-style: solid;
}